<html>
    <head>
        <style>
            body{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding:0%;
}

.foto{
    border-radius: 100%;
    border: 2px solid lightskyblue;
}

.perfil{
    display: flex;
    justify-content: space-between;
}

.texto{
    display: flex;
    flex-flow: wrap column;
    
}
fieldset{
    background-color: paleturquoise;

}

legend{
    border: 1px solid black;
    border-radius: 5px;
    background-color: paleturquoise;
}
        </style>
    </head>

   <title>Alexander Berrueta curriculum cv</title> 
    
    <body>
        <main>
    
            <section id="hero">

                <div class="perfil">
                    <div class="texto">

                        <h1>Alexander Berrueta</h1>
                        <h5>Estudiante de ingenieria infomática</h5s>

                    </div>

                    <img class="foto" src="/stylesheets/visa loteria aj.jpeg" width="130px" height="130px">
                
                </div>
               
                <hr>
                <p class="resumen">Soy un novato en programación </p>

                <fieldset>
                    <legend>Habilidades</legend>
                    <ul>
                        <li>Conocimiento de ingles básico medio</li>
                        
                    </ul>

                </fieldset>

                <fieldset>
                    <legend>Contactos</legend>
                    <b>tlf:</b>
                        <li>0412-1465642</li>
                    <ul>
                        <li>
                            <b>Correo:</b>
                            <a>
                               berruetaalexamder@gmail.com
                            </a>
                        </li>
                    </ul>

                </fieldset>

                <fieldset>
                    <legend>Educación</legend>
                    <ul>
                        <li>Bachiller graduado en la U.E.C "San Juan Bauntista" San Juan de los Morros, Estado Guárico</li>
                        <li>Actualmente estudiante universitario de la Universidad Nacional Experimental Romulo Gallegos(UNERG),Area de Ingenieria en Sistemas(AIS)</li>
                    </ul>

                </fieldset>


        </main>

    </body>

</html>
