<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombre: Alexander Berrueta<br>
      Cedula: 29.940.662<br>
      Sección: #1</p>
  </body>
</html>
